form {
    display:flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    gap: 10px;
    font-size: 1.5rem;
    align-items: center;
}

input {
    width: 250px;

}

button {
    width: 150px;  

}

.input-fields {
    border-radius: 6px;
    height: 20px;
}

label 
{
    align-self: flex-start;

}
